@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
  font-family: "Silkscreen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes flip {
	0% {
  		transform: rotateX(o);
	}
  	45% {
  		transform: rotateX(90deg);
  	}
  	55% {
  		transform: rotateX(90deg);
  	}
  	100% {
  		transform: rotateX(0);
  	}
}

.bounce {
	animation: bounce 0.5s ease forwards;
}   

@keyframes bounce {
	0% {
		transform: scale(1);
		border-color: #ddd;
	}
	50% {
		transform: scale(1.2);
		border-color: #ddd;
	}
	100% {
		transform: scale(1);
		border-color: #333;
	}
}

